.bg_con {
  background-color: aliceblue;
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(#ff6e7f, #ffffff, #bfe9ff);
  height: 60vh;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.heading {
  color: black;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.statement {
  color: #334155;
  font-size: 30px;
  text-align: center;
}

.button {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  color: rgb(2, 2, 27);
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

.rule {
  font-size: 10px;
  color: rgb(17, 17, 26);
  text-align: center;
}
